
.head{
    border: 1px solid transparent;
    background-color:black;
    height: 50px;
    position: sticky;
    top: 0;
}
ul{
    float: left;
    cursor: pointer;
}
ul li{
    float: left;
    width: 120px;
    position: relative;
    left: 80%;
    list-style-type: none;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 18px;
    background-color: black;
}
ul li a{
    text-decoration: none;
    color:white;
    background-color:black ;
    border:black;

}
ul li a:hover{
    background-color: gray;
    border: black solid thick;

}

}
font{
    color: red;
}
    
}
.text{
    position: absolute;
    text-outline: 2px;0%;
    left: 30%;
    top: 80%;
}
h3{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: capitalize;
    width:400px;
    word-spacing: 0px;
    font-weight: normal;
    line-height: 80px;
    color: black;
}
h4{
    position: absolute;
    top: -4%;
    font-size: 90%;
    font-family: Arial, Helvetica,sans-serif;
    text-transform: uppercase;
    color: black;
}
form input[type="submit"]{
    position: absolute;
    top: 86%;
    padding: 10px;
    text-transform: uppercase;
    background-color: crimson;
    border: none;
    color: white;
    font-family: Arial, Helvetica,sans-serif; 
    letter-spacing: 1px;
}
form input[type="submit"]:hover{
    background-color: red;
}
.image22{
    position: absolute;
    left: 5%;
    top:30%;
    border: 5px; solid darkgray;
    box-shadow: 1px 2px 4px;
}
h5{
    color: red;
    position: absolute;
    left: 20%;
    top: 20%;
    border: 1px solid black;
    width: 200px;
    font-size: 40px;
    font-family: Arial, Helvetica,sans-serif;
    font-weight: normal;
    text-align: center;

}
p{
    text-align: center;
}
.image22:hover{
    box-shadow: 6px 6px 9px;
    transform: scale(1.2);
}
.image23{
    position: absolute;
    left: 40%;
    top:30%;
    border: 5px; solid darkgray;
    box-shadow: 1px 2px 4px;
}
.image23:hover{
    box-shadow: 6px 6px 9px;
    transform: scale(1.2);
}

.image24{
    position: absolute;
    left: 70%;
    top:30%;
    border: 5px; solid black;
    box-shadow: 1px 2px 4px;
}
.image24:hover{
    box-shadow: 6px 6px 9px;
    transform: scale(1.2);
}
h{
    font-size: 40px;
    align: left;
}
footer{
    background-color: black;
}
.slogan{
    position: absolute;
    text-outline: 2px;0%;
    left: 30%;
    top: 35%;
}
.About{
    text-align:center;
}
.content{
    color: black;
}
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #00cc44;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}.row {
    flex-direction: column;
}
.blog-content {
    width: 80;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

	/*the style of the footer should be at the bottom of the web page*/
footer {
  padding: 20px;
  text-align: center;
  background: #000000;
  margin-bottom: 0;
  clear: both;
  margin-top: 40%;
}

.slogan h1{
font-size: 93px;
text-align: center;
color: white;
}

.slogan h2{
text-align: center;
color: white;
font-family: Arial, Helvetica,sans-serif;
}
